<!-- Mejora la parte FOOTER se aplicara para las otraspaginas-->
<footer class="bg-dark text-center p-2">
    <p class="h4">
        representa un pie de página para el contenido de sección más cercano o el elemento raíz de sección.
    </p>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

