
<nav>
    <ul>
        <li>
         <a href="/">Home</a> 
        </li>
    </ul>

    <ul>
        <li>
         <a href="/contact">Contacto</a> 
        </li>
    </ul>

    <ul>
        <li>
         <a href="/about">Home</a> 
        </li>
    </ul>
</nav>